%h2 #{ t(:create) } #{ t(:tax_entity_info) }

= semantic_form_for( [@user, setup_address(@tax_entity)] ) do |f|
  = f.input :name,      :label => t(:tax_entity_name)
  = f.input :tax_id,    :label => t(:tax_entity_id_name)
  = f.semantic_fields_for :address do |addr|
    = addr.input :street_address,     :label => t(:address_street)
    = addr.input :street_address_2,   :label => t(:address_street_2)
    = addr.input :city,               :label => t(:address_city)
    = addr.input :state,              :label => t(:address_state)
    = addr.input :country,            :label => t(:address_country)
    = addr.input :postal_code,        :label => t(:address_postal_code)
  = f.actions do
    = f.action :submit, :as => :button, :label => t(:create)
